body {
    background-color: #f67c31;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fbad8b;
}

h1 {
    color: #fbad8b;
    font-size: 4vw;
}

footer {
    padding: 100px;
    border-style:double;
    border-color:aliceblue;
    border-width: 1vw;
}

p {
    font-size: 1.4vw;
}

marquee {
    color: #29142c;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-100%); }
  }


.topCon {
    font-size: 1vw;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    height: 15em;
    background-color: #A42838;
    border-radius: 3vh;
    border-style:ridge;
}


#lieBox {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #A42838;
    padding: 5px;
    float: right;
    max-width: 40%;
    height: 50vw;
    padding-right: 1vw;
    box-sizing:border-box;
    border-radius: 3vh;
    border-style:ridge;
    background-color: #fbad8b;

}
#topCons {
    float:left;
    box-sizing:border-box;
    border-top:#29142c00;
    border-left:#29142c00;
    border-bottom:#29142c00;    
    border-right:#29142c;
    padding-right: 20px;
    max-width: 55%;
    border-style:ridge;
    border-width: 3vw;
    
}
